.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.about__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.about__hr {
    border-color: var(--clr-slate800);
}

.about__img {
    border-radius: 6px;
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* sm */
@media (min-width: 640px) {
    .about__img-wrapper {
        margin: 0 auto;
    }

    .about__img {
        width: 28.6875rem;
        transition: transform 0.3s
    }
}

/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about__title {
        font-size: var(--size-4xl);
    }

    .about__description {
        font-size: var(--size-lg);
    }

    .about__img:hover {
        transform: translateY(3px);
    }

}

/* xl */
@media (min-width: 1280px) {
    .about__content {
        gap: 2rem;
    }

    .about__title {
        font-size: var(--size-5xl);
    }

    .about__description {
        font-size: var(--size-xl);
    }

    .about__img {
        width: 30.75rem;
    }
}

/* @media (min-width: 1536px) {} */